html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.img-fluid {
  max-width: 100% !important;
  height: auto;
}

.filter-grey {
  filter: invert(70%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(90%)
    contrast(100%);
}
